# What is Python and why it is popular?

High level language - simple and easy to learn
Free an open source
Portable and supports multiple platforms like google colab, jupyter notebook
supports different programming paradigms
Growing popularity
Ranks top in IEEE Spectrum
Python stands top in PTPE Index and TIOBE Index

## Python Applications

Web app development - html, css
Web scraping (data extraction) using libraries - BeautifulSoup, Scarpy, Octoparse
Desktop GUI - Tkinter
Data Science - Numpy, Pandas, Matplotlib, Seaborn, SkLearn
Education
ML & AI - SkLearn
Network Programming
Games and 3D Graphics - PyGame
Mathematical - math, stats....
Support language - selenium - for automation
Database Access - Oracle, MongoDB, SQL, PostgressSQL....

## Jupyter Notebook

Open source web app that allows you to execute live code
Runs in web browsers
Support 40+ prog language - Py, R, Julia, Scala....
Name JuPyteR- Julia + Python + R

Run = CTRL + ENTER (only o/p) or SHIFT + ENTER (o/p + new cell below)

In [2]:
a=1
b=2
print(a+b)

3

## Data types in Python
~ to alphabets in english language

6 datatypes in Python:-
Number, String, List, Tuple, Set, Dictionary

### 1) Numeric Datatype

Integers, Floats, Complex

In [3]:
x= 6
print(type(x))

<class 'int'>

In [4]:
type(x)

int

In [5]:
y= 4.5
print(type(y))

<class 'float'>

In [6]:
a= 5.0
type(a)

float

In [7]:
b= a+3j
type(b)

complex

In [8]:
d= 43123409793113473525745512341276341233
type(d)

int

### 2) Strings
'Hello' and "Hello" are same
[] used o access elements of string

In [10]:
S1 = "Hello students! Welcome to Henry Harvin."
S1

'Hello students! Welcome to Henry Harvin.'

In [11]:
print(S1)

Hello students! Welcome to Henry Harvin.

In [12]:
S2= 'Henry Harvin is good'
S2

'Henry Harvin is good'

In [16]:
# Creation of strings in triple quotes allows multiple lines
S3= '''
Henry Harvin
is good for
education
'''
S3

'\nHenry Harvin\nis good for\neducation\n'

In [15]:
print (S3)

Henry Harvin
is good for
education

### String indexes (Slicing using Colon)
refer- geeksforgeeks.org/python-string/

In [18]:
x="Geeks for Geeks"
print(x[0])

G

In [19]:
x[4]

's'

In [20]:
print(x[-1])

s

In [21]:
print(x[0:5])

Geeks

In [22]:
print(x[6:-6])

for

In [23]:
print(x[:])

Geeks for Geeks

In [24]:
x[:]

'Geeks for Geeks'

In [25]:
print(x[6:])

for Geeks

### String built-in functions

In [28]:
st1="Henry is back"
print(len(st1))

13

In [29]:
print(st1.lower())

henry is back

In [30]:
print(st1.upper())

HENRY IS BACK

In [31]:
st2="Hare, Krishna"
print(st2.split(","))

['Hare', ' Krishna']

In [32]:
st2.split(",")

['Hare', ' Krishna']

### Operators

 Used to perform operations on variables and values.
 Arithmetic
 Assignment
 Comparison
 Logical
 Identity
 Bitwise
 Membership

#### Arithmetic Operators

In [ ]:
used with numeric values to perform common and mathematical operations
+
-
*
/
% = modulus = returns remainder
** = exponentiation = x**y = x to the power of y

In [33]:
x= 7; y= 8; z=4
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)

15
-1
56
0.875
7
5764801

#### Comparison Operators

In [ ]:
==   absolutely equal
!=   not equal to 
>
<
>=
<=

In [35]:
x=10
y= 15
print(x>y)
print(x<y)
print(x==y)
print(x!=y)

False
True
False
True

#### Logical Operators

In [ ]:
AND = returns True if both statements are True
OR  = returns True if one of the statements is True
NOT = reverses the statement

In [37]:
A= False
B= True
print(A and B)
print(A or B)
print(not B)

True
False

In [40]:
print(A and B)
(A or B)     #not printed if print command not entered and code occurs in the middle
print(not B)

False
False

#### Identity Operators

In [ ]:
is = returns True if both objects are same
is not = returns True if both variables are not same

In [63]:
a= ["sitar", "guitar"]
b= ["sitar", "guitar"]
z= a
t=a=b

In [64]:
print(a is z)  # z assigned a but a assigned b value

False

In [65]:
print(a is b) # a & t assigned b's value

True

In [73]:
print(a==b) # a & b have same values

True

In [74]:
print(a is not b)

False

In [76]:
A= ["mango","oranges"]
B= ["mango", "oranges"]
Z= A

In [77]:
print(A is B) # A & B allocated different memory locations

False

In [78]:
print(A is Z) # Z is assigned same location of A

True

In [79]:
print(A == B)

True

In [80]:
print(A is not B)

True

####  Assignment Operators

In [ ]:
=
+=     x+=3   x=x+3
-=     x-=3   x=x-3
*=     x*=5   x=x*5
/=
%=
**=
&=
|=
>=     x>=7   x=x>7
<=

#### Membership Operators

In [ ]:
in = returns true if a sequence with the specified value is present in the object
not = returns true if a sequence with the specified value is not present in the object

In [81]:
p= ["diamond","ruby"]
print("ruby" in p)

True

In [83]:
print ("coal" in p)

False

In [84]:
q= [2,4,6,8,10]

In [85]:
print(8 in q)

True

In [86]:
print(7 in q)

False